@import url("https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Oleo+Script:wght@400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Mate+SC&family=Oleo+Script:wght@400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mate SC", serif;
  background-color: rgb(92, 92, 92);
}
/* header */
header {
  background: radial-gradient(
    rgba(255, 236, 2, 1) 0%,
    rgba(255, 223, 2, 1) 33.6%,
    rgba(255, 187, 29, 1) 61%,
    rgba(255, 175, 7, 1) 100.7%
  );
  color: rgb(0, 0, 0);
  text-align: center;
  padding-top: 20px;
}

#logo {
  font-family: "Oleo Script", system-ui;
  font-weight: lighter;
  font-size: 80px;
  margin-left: -50px;
}
#description {
  margin: -30px 0px 50px 230px;
  font-size: 20px;
}
nav ul {
  background-color: black;
  list-style: none;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}
nav ul li a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}
nav ul li a:hover {
  color: rgba(255, 236, 2, 1);
  font-size: 18px;
  text-decoration: none;
}
nav ul li {
  display: flex;
}

/* main */

#main_container {
  width: 96.8%;
  background-color: rgb(92, 92, 92);
  padding: 20px;
  color: white;
  display: flex;
  margin-top: -20px;
}

#main_content img {
  width: 380px;
  margin-right: 30px;
  margin-top: 50px;
}
#aside_para h1 {
  text-shadow: 1px 2px;
  color: rgba(255, 175, 7, 1);
  text-align: center;
  margin-bottom: 10px;
}
#main_para {
  column-count: 2;
  width: 500px;
  text-align: justify;
}

#main_aside {
  width: 300px;
  height: 300px;
  background: radial-gradient(
    rgba(255, 236, 2, 1),
    rgba(255, 223, 2, 1),
    rgba(255, 187, 29, 1),
    rgba(255, 175, 7, 1)
  );
  margin-left: 20px;
  margin-top: 50px;
  padding-left: 30px;
  border-radius: 10px;
}
#main_aside h1 {
  font-size: 25px;
  margin: 10px 0px 10px 15px;
}
#main_aside #ul {
  line-height: 20px;
}
#main_aside #ul li {
  list-style-type: disc;
}
#main_aside #ul li a {
  text-decoration: none;
  color: black;
}
/* Course container */
.course_container {
  background-color: rgb(92, 92, 92);
  display: flex;
  padding: 10px;
}
.course_container h2 {
  text-align: center;
  color: rgb(222, 204, 10);
}
.course {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}
#sub_card {
  width: 360px;
  height: 380px;
  margin: 2px 10px;
  padding: 10px 10px 5px 14px;
}
#course_cards {
  padding: 15px 0px;
  background-color: rgb(92, 92, 92);
  box-shadow: 2px 0.1px 2px 5px rgb(128, 127, 127);
  border-radius: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
}
.enroll_butn {
  width: 140px;
  height: 30px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  background: radial-gradient(
    rgba(255, 236, 2, 1) 0%,
    rgba(255, 223, 2, 1) 33.6%,
    rgba(255, 187, 29, 1) 61%,
    rgba(255, 175, 7, 1) 100.7%
  );
  color: rgb(0, 0, 0);
}
.card_body {
  text-align: center;
  color: white;
}

/* Our Companies */
#placecompanies {
  background-color: rgb(92, 92, 92);
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#placecompanies h1 {
  text-align: center;
  color: yellow;
}
.course_row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
  border: 2px solid rgb(150, 150, 150);
  background-color: white;
}

.our_company {
  width: 200px;
}
#footer {
  background: radial-gradient(
    rgba(255, 236, 2, 1) 0%,
    rgba(255, 223, 2, 1) 33.6%,
    rgba(255, 187, 29, 1) 61%,
    rgba(255, 175, 7, 1) 100.7%
  );
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  margin-top: 20px;
  width: 100%;
  padding-top: 20px;
}

@media (max-width: 550px) {
  header {
    text-align: left;
    width: 650px;
  }
  #logo {
    margin-left: 140px;
  }
  #description {
    margin-left: 220px;
  }
  /* main */
  #main_container {
    margin-top: -20px;
    width: 600px;
    margin-right: -10px;
  }
  #main_container {
    padding: 20px;
    display: block;
  }
  #main_content img {
    width: 100%;
    margin-bottom: 20px;
  }
  #main_aside {
    margin-top: 20px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #main_para {
    margin-left: 50px;
  }
  /* Course container */
  .course_container {
    width: 620px;
    display: flex;
    justify-content: center;
  }
  #course_cards {
    display: block;
  }
  .course {
    margin-bottom: 20px;
  }
  /* our companies */
  #placcompanies {
    width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .course_row {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    height: 400px;
  }
  #placecompanies {
    height: 600px;
    width: 650px;
    display: flex;
    flex-wrap: wrap;
  }
  /* footer */
  #footer{
      width: 650px;
  }
}